#aNosotros{
    color: #0088CC;
}

.nosotrosMain{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.sectionNosotros{
    width: 60%;
    margin-right: 9px;
    margin-left: 3rem;
}

.sectionNosotros h1{
    margin-bottom: 16px;
    font-size: 1.3rem;
}

.sectionNosotros p{
    margin-bottom: 16px;
}

.segundoTexto{
    width: 100%;
    background-color: #35424a;
    color: white;
    padding: 18px;
    margin: 8px 0px 8px 0px;
}

.segundoTexto p{
    margin-bottom: 0;
}

.imageNosotros{
    width: 100%;
    margin-top: 16px;
    position: relative;
}

.imageNosotros img{
    width: 100%;
}

aside{
    width: 350px;
    margin-right: 5rem;
}

.asideDivInfo{
    width: 100%;
    overflow: scroll;
    height: 200px;
    background-color: #35424a;
    color: white;
    padding: 18px 18px 0px 18px;
}

.asideDivInfo span{
    font-weight: bold;
}

.asideDivInfo p{
    margin-top: 8px;
}

.formSection{
    width: 60%;
    margin-left: 60px;
    margin-right: 12px;
}

.formSection form{
    display: flex;
    flex-direction: column;
}

.formSection input{
    width: 100%;
    margin: 4px 0px 16px 0px;
    padding: 12px 4px;
}

.formSection textarea{
    width: 100%;
    height: 150px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.formSection button{
    width: 99%;
    padding: 12px;
    color: white;
    background-color: #e8491d;
    border-color: #e8491d;
}

.map{
    width: 100%;
    margin-top: 8px;
    background-color: white;
}

.map img{
    width: 100%;
    height: 290px;
}

/*Servicios.html*/
.precios{
    width: 100%;
    background-color: #e6e6e6;
    padding: 2rem;
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: grey;
}

.precios span{
    font-weight: bold;
    font-size: 1.2rem;
}

.precios p{
    margin-top: 1rem;
}