*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    display: flex;
    background-color: #212529;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #1293d4;
    padding: 24px 32px 24px 32px;
}

header div{
    margin-left: 90px;
}

header div p{
    font-size: 1.6rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header div p span{
    color: #0088CC;
}

header nav{
    width: 400px;
    margin-right: 90px;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.boletin{
    width: 100vw;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 24px;
}

.boletin span{
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 90px;
}

.boletin form{
    margin-right: 90px;
}

.boletin form input{
    width: 245px;
    padding: 8px;
}

.boletin form button{
    width: 100px;
    padding: 7px;
    color: white;
    background-color: #e8491d;
    border-color: #e8491d;
}

footer{
    background-color: #1293d4;
    text-align: center;
    color: white;
    padding: 32px 0px 32px 0px;
    font-family: Arial, Helvetica, sans-serif;
}



/*Para la clase home del index*/

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 420px;
    color: white;
    background-image: linear-gradient(rgba(60, 55, 50, 0.55), rgba(60, 55, 50, 0.55)), url('images/cabecera.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
}

.home h1{
    font-size: 3rem;
    margin-bottom: 24px;
}

.lenguajes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.lenguajes div{
    width: 270px;
    height: 300px;
    text-align: center;
}

.lenguajes div img{
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.lenguajes div span{
    font-weight: bold;
    font-size: 1rem;
}


